.doneTodo{
    text-decoration: line-through;

}
.table__title{
    font-weight: 500;
}
.fixed{
    position: fixed;
    z-index: 1111;
}
.table__container{
    width: 40%;
    margin: 0 auto;
    height: 700px;

}